@model IEnumerable<VaporWebSite.App.Models.FullDlc>

@{
    ViewData["Title"] = "Index";
}

<h1>Dlcs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dlc.Dlcid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dlc.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dlc.Price)
            </th>
            <th>
                Game
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dlc.Dlcid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dlc.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dlc.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @*
        @Html.ActionLink("Edit", "Edit", new { id=item.Dlcid }) |
        @Html.ActionLink("Details", "Details", new { id = item.Dlcid }) |
                *@
                @Html.ActionLink("Delete", "Delete", new { id = item.Dlc.Dlcid })
            </td>
        </tr>
}
    </tbody>
</table>
