@model IEnumerable<VaporWebSite.App.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search">
    <p>
        <input type="text" placeholder="Search games..." name="searchString" id="searchString">
        <input type="submit" value="Search" />
    </p>
</form>
<form asp-action="Filter" method="get" name="filter">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Price:
                </th>
                <th>
                    Rating:
                </th>
                <th>
                    Developer:
                </th>
                <th>
                    Tag:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Minimum Price: <select name="lowPrice" form="filter">
                        <option value="0" selected="selected">$0</option>
                        <option value="10">$10</option>
                        <option value="20">$20</option>
                        <option value="30">$30</option>
                        <option value="40">$40</option>
                        <option value="50">$50</option>
                        <option value="60">$60</option>
                        <option value="70">$70</option>
                        <option value="80">$80</option>
                        <option value="90">$90</option>
                    </select>
                    <br />
                    Maximum Price: <select name="highPrice" form="filter">
                        <option value="10">$10</option>
                        <option value="20">$20</option>
                        <option value="30">$30</option>
                        <option value="40">$40</option>
                        <option value="50">$50</option>
                        <option value="60">$60</option>
                        <option value="70">$70</option>
                        <option value="80">$80</option>
                        <option value="90">$90</option>
                        <option value="100" selected="selected">$100</option>
                    </select>
                </td>

                <td>
                    <input type="checkbox" id="ratingBox0" name="rating" value="0" />0 - 1 stars<br>
                    <input type="checkbox" id="ratingBox1" name="rating" value="1" />1 - 2 stars<br>
                    <input type="checkbox" id="ratingBox2" name="rating" value="2" />2 - 3 stars<br>
                    <input type="checkbox" id="ratingBox3" name="rating" value="3" />3 - 4 stars<br>
                    <input type="checkbox" id="ratingBox4" name="rating" value="4" />4 - 5 stars<br>
                    <input type="checkbox" id="ratingBox5" name="rating" value="5" />0 - 1 stars<br>
                    <input type="checkbox" id="ratingBox6" name="rating" value="6" />1 - 2 stars<br>
                    <input type="checkbox" id="ratingBox7" name="rating" value="7" />2 - 3 stars<br>
                    <input type="checkbox" id="ratingBox8" name="rating" value="8" />3 - 4 stars<br>
                    <input type="checkbox" id="ratingBox9" name="rating" value="9" />4 - 5 stars<br>
                </td>
                <td>
                    <input type="checkbox" id="bethesda" name="devId" value="2" />Bethesda<br>
                    <input type="checkbox" id="bioware" name="devId" value="3" />Bioware<br>
                    <input type="checkbox" id="fromsoftware" name="devId" value="4" />FromSoftware<br>
                    <input type="checkbox" id="rockstar" name="devId" value="5" />Rockstar<br>
                </td>

                <td>
                    <input type="checkbox" id="action" name="tagId" value="1" />Action<br>
                    <input type="checkbox" id="rpg" name="tagId" value="2" />Role-Playing<br>
                    <input type="checkbox" id="twodimensional" name="tagId" value="3" />2-Dimensional<br>
                    <input type="checkbox" id="roguelike" name="tagId" value="4" />Roguelike<br>
                    <input type="checkbox" id="adventure" name="tagId" value="5" />Adventure<br>
                    <input type="checkbox" id="fantasy" name="tagId" value="6" />Fantasy<br>
                    <input type="checkbox" id="sports" name="tagId" value="7" />Sports<br>
                    <input type="checkbox" id="simulation" name="tagId" value="8" />Simulation<br>
                    <input type="checkbox" id="horror" name="tagId" value="9" />Horror<br>
                    <input type="checkbox" id="alien" name="tagId" value="10" />Alien<br>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="submit" value="Filter Games" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.DeveloperId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trailer)
                </th>

            *@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trailer)
                    </td>
                *@
                <td>
                    @Html.ActionLink("Purchase", "Purchase", new { id = item.GameId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GameId })
                </td>
            </tr>
        }
    </tbody>
</table>
