@model IEnumerable<VaporWebSite.App.Models.UserGame>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Trailer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="modelitem" *onmouseover="PopUp()" *@>
            <td id="modelitemname">
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Image)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Game.Trailer)
            </td>
            <td hidden id="gameid">
                @Html.DisplayFor(modelItem => item.Game.GameId)
            </td>
            <td hidden id="price">
                @Html.DisplayFor(modelItem => item.Game.Price)
            </td>
            <td hidden id="description">
                @Html.DisplayFor(modelItem => item.Game.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { username = item.User.UserName}) |
            </td>
        </tr>
        }
    </tbody>
</table>
<script src="UserGameIndex.js">
    var csmodel = model;
</script>