@model IEnumerable<VaporWebSite.App.Models.UserGame>

    @section Scripts
        {
        <script src="@Url.Content("~/Scripts/UserGameIndex.js")">
            var csmodel = model;
        </script>
    }

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.Game.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Trailer)
        </th>
        <th></th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.Game.GameId)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Game.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="modelitem">
                <td class="modelitemname">
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Image)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Trailer)
                    </td>
                *@
                <td style="visibility:hidden" class="extra-game-info">
                    @Html.DisplayFor(modelItem => item.Game.GameId)
                </td>
                <td style="visibility:hidden" class="extra-game-info">
                    @Html.DisplayFor(modelItem => item.Game.Price)
                </td>
                <td style="visibility:hidden" class="extra-game-info">
                    @Html.DisplayFor(modelItem => item.Game.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
